* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    background-color: lightcyan;
}

.header {
    background-color: antiquewhite;
    height: 40px;
    text-align: center;
}


.main {
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main h1 {
    font-size: 100px;
    font-style: italic;
}

.tasks {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    background-color: aquamarine;
}

.tasks input {
    width: 50%;
    height: 20px;
    text-align: center;
}


.list {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100px;
    padding: 30px;
    margin: 20px auto 0;
    background-color: burlywood;
}

.task {
    cursor: pointer;
    border: 1px;
    flex-wrap: wrap;
}

.task.clicked {
    background-color: aqua;
}
